body{
	background-color: black;
}
#tudo{
	color:#e6e6ff;
	margin: 0px;
	border: 0px;
}

#cabeça{
	text-align: center;
	background-color: #0000CD;
	padding: 10px;
	font-size: 25px;
}

#paragrafo{
	background-image: url(blue.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	text-align: justify;
	float: center;
	padding: 10px;
	width: 1200px;
	height: 580px;
	font-size: 21px; 
}

#menu{
	background-color: #8080ff;
	padding: 10px;
	text-align: justify;
	height: 580px;
	width: 180px;
	font-size: 25px;
	color: #b3b3ff;
}

button{
	background-color: #0000cc;
	color: #ffffff;
	font-size: 16px;
}
._1{
	float: left;
}

._2{
	float: right;
}

#rodapé{
	text-align: center;
	background-color: #00004d;
	padding: 10px;
	font-size: 25px;
}
